<div class="card">
  <div class="card-body">
    <form (submit)="addTask($event)">
      <div class="input-group">
        <input type="text" name="title" [(ngModel)]="title" placeholder="Add Task" class="form-control">
        <span class="input-group-append">
          <button type="submit" class="btn btn-primary">Add Task</button>
        </span>
      </div>
    </form>
  </div>
</div>

<table class="table">
  <thead>
  <tr>
    <th>Status</th>
    <th>Title</th>
    <th>Operations</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of task">
      <td>
        <input type="checkbox" [checked]="task.isDone" (click)="updateTask(task)">
      </td>
      <td>
        {{task.title}}
      </td>
      <td>
        <button class="btn btn-danger"
                (click)="deleteTask(task._id)">
          Delete
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
